h1 {
  font-size: 50px;
  width: auto;
  margin: 20px 0;
  font-family: Arial, Helvetica, sans-serif;
}

.desc {
  font-size: 20px;
  width: 700px;
  font-family: Arial, Helvetica, sans-serif;
  color: #969595;
}

.btn {
  justify-content: center;
  display: flex;
}

.btn > button {
  width: 30%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 30px 0;
  height: 50px;
  background-color: #ffff;
}

.resto-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .resto-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .resto-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

